<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Home</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">

    <style type="text/css">
      .bs-docs-header {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        text-align: left;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      
      .x.axis path {
        display: none;
      }
      
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      #device1-chart {
        width: 100%;
      }


    </style>

    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

  </head>

  <body>

  	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  		<div class="container">
  			<div class="navbar-header">
  				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a href="/" class="navbar-brand">Tioga</a>
  			</div>
  			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  				<ul class="nav navbar-nav">
  					<li class="active"><a href="#">Dashboard</a></li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
  				</ul>
  			</nav>
  		</div>
  	</header>


    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1><%= device.name %></h1>
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
<!-- 
            <h1 id="temperature" class="page-header">Signals received</h1>
            <p class="lead"></p>
            <h3 id="temperature-data">Temperature sensors</h3>
 -->            

            <% if ("name" in device) { %>
              <div class="bs-callout bs-callout-info" id="device1">
                <h4>Temperature</h4>
                <div id="device1-chart"></div>
                <!--div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Time</th>
                        <th>Celsius</th>
                        <th>Fahrenheit</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div-->
              </div>
            <% } else if ("motion_detected" in signals[0]) { %>
              <div class="bs-callout bs-callout-info" id="device1">
                <h4>Motion sensor</h4>
                <div id="device1-chart"></div>
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead> 
                      <tr>
                        <th>Time</th>
                        <th>Motion detected</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 0; i < signals.length; i++) { %>
                        <tr>
                          <td><%= new Date(signals[i].timestamp).toLocaleTimeString() %></td>
                          <td><%= signals[i].motion_detected %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% } %>


          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>

<script>


var $chart = $('#device1-chart');

function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}

function drawChart() {

  $chart.empty();

  var margin = {top: 50, right: 50, bottom: 50, left: 50},
      aspect = 9/16;
      width = $chart.width() - margin.left - margin.right,
      height = $chart.width() * aspect - margin.top - margin.bottom;
  
  var x = d3.time.scale()
      .range([0, width]);
  
  var y = d3.scale.linear()
      .range([height, 0]);
  
  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");
  
  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");
  
  var line = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.close); });
  
  var svg = d3.select("#device1-chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  
//  var signals = JSON.parse(decodeHtml('<%= JSON.stringify(device.signals) %>'));

  var db = new Firebase('https://vivid-fire-6554.firebaseio.com/');
  db.child('signals/<%= device.id %>').startAt(Date.now()-86400000).once('value', function (dbdata) {

    var signals = dbdata.val();  
    var data = [];
    for (var s in signals) {
      if (signals[s].data.celsius >= 1) {
        data.push({
          date: new Date(signals[s].timestamp),
          close: signals[s].data.fahrenheit
        });
      }
    }
    console.log(data);
  
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.close; }));
  
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
  
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("x", "1.2em")
        .attr("y", 0)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("\u2109");
  
    svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);
  
  }, function (e) {
    console.log('The read failed: ' + e.code);
  });

}

$(function() {

  drawChart();
  window.onresize = drawChart;

});

</script>

  </body>

</html>
